<div class="headerWrapper">
    <form>
        <mat-grid-list cols="3" rowHeight="65px">
          <mat-grid-tile>
            <mat-form-field>
                <mat-select placeholder="Language" [(ngModel)]="actualLanguage" [ngModelOptions]="{standalone: true}">
                    <mat-option value="eng">English</mat-option>
                    <mat-option value="cat">Català</mat-option>
                    <mat-option value="spa">Spanish</mat-option>
                </mat-select>
              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Season" [(ngModel)]="season" name="Season">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Episode" [(ngModel)]="episode" name="episode">
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
    </form>
    
  <div class="header">
    <input [(ngModel)]="searchLabel" (keyup.enter)="doSearch()" placeholder="name" type="text" class="inputSearch"/>
  </div>
  
</div>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>

</div>
<div class="linksWrapper">
  <div class="results">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- File Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> File Name </th>
        <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
      </ng-container>
    
      
      <!-- downloadsNo Column -->
      <ng-container matColumnDef="downloadsNo">
        <th mat-header-cell *matHeaderCellDef> Downloads </th>
        <td mat-cell *matCellDef="let element"> 
          
          {{element.downloadsNo}} 
        </td>
      </ng-container>

      <!-- View Column -->
      <ng-container matColumnDef="View">
        <th mat-header-cell *matHeaderCellDef> View </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-icon (click)="openPopup(element)" >visibility</mat-icon> 
        </td>
      </ng-container>

      <!-- Download Column -->
      <ng-container matColumnDef="Download">
        <th mat-header-cell *matHeaderCellDef> Download </th>
        <td mat-cell *matCellDef="let element"> <mat-icon (click)="downloadFile(element)" >get_app</mat-icon> </td>
      </ng-container>
      <!-- Open in New Column -->
      <ng-container matColumnDef="Open">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> 
          <a href="{{element.osLink}}" target="_blank">
            <mat-icon >open_in_new</mat-icon> 
          </a>
          
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    
</div>



<router-outlet></router-outlet>
