<div class="headerWrapper">
  <div class="header">
    <input type="text" class="inputSearch">
  </div>
</div>
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<div class="linksWrapper">
  <div class="results">
      <mat-list>
          <mat-list-item> 
            Pepper 
            <mat-icon>get_app</mat-icon>
            <mat-icon>search</mat-icon>

          </mat-list-item>
          <mat-list-item> Salt </mat-list-item>
          <mat-list-item> Paprika </mat-list-item>
      </mat-list>
  </div>
    
</div>



<router-outlet></router-outlet>
